 <main>
    <div id="jobs-container" class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 id="job-list-title">Veja sabores disponível</h2>
          <ul id="job-list" class="list-group">
            <li class="list-group-item new-job">
              <img src="public/img/company.png" alt="Company">
              <p>Trufa</p>
              <h2>Morango</h2>
              <p>R$4,50</p>
              <span class="new-job-label">Novos Sabores </span>
              <a class="btn btn-primary">Ver sabores</a>
            </li>
            <li class="list-group-item new-job">
              <img src="public/img/company.png" alt="Company">
              <p>Trufa</p>
              <h2>Brigadeiro</h2>
              <p>R$4,50</p>
              <span class="new-job-label">Novos Sabores</span>
              <a class="btn btn-primary">Ver sabores</a>
            </li>
            <li class="list-group-item">
              <img src="public/img/company.png" alt="Company">
              <p>Trufa</p>
              <h2>Maracujá</h2>
              <p>R$4,50</p>
              <a class="btn btn-primary">Ver sabores</a>
            </li>            
            <li class="list-group-item">
              <img src="public/img/company.png" alt="Company">
              <p>Trufa</p>
              <h2>Ninhoo</h2>
              <p>R$4,50</p>
              <a class="btn btn-primary">Ver sabores</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>