<div id="top-container" class="container-fluid">
    <h1 id="main-title" class="text-center">Um dia mais leve é com uma trufa</h1>
    <p id="main-subtitle" class="text-center">Você encontrará trufas com qualidade e com muito sabor</p>
    <form id="search-form" class="form-inline" action="">
        <div class="form-group col-md-10">
            <input type="text" class="form-control" id="job" name="job" placeholder="Digite o sabor desejado">
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Procurar</button>
        </div>
    </form>
</div>
<main>
    <div id="jobs-container" class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 id="job-list-title">Veja sabores disponível</h2>
                <ul id="job-list" class="list-group">
                    <li class="list-group-item new-job">
                        <img src="/img/company.png" alt="Company">
                        <p>Trufa</p>
                        <h2>Morango</h2>
                        <p>R$4,50</p>
                        <span class="new-job-label">Novos Sabores </span>
                        <a class="btn btn-primary">Ver sabores</a>
                    </li>
                    <li class="list-group-item new-job">
                        <img src="/img/company.png" alt="Company">
                        <p>Trufa</p>
                        <h2>Brigadeiro</h2>
                        <p>R$4,50</p>
                        <span class="new-job-label">Novos Sabores</span>
                        <a class="btn btn-primary">Ver sabores</a>
                    </li>
                    <li class="list-group-item">
                        <img src="/img/company.png" alt="Company">
                        <p>Trufa</p>
                        <h2>Maracujá</h2>
                        <p>R$4,50</p>
                        <a class="btn btn-primary">Ver sabores</a>
                    </li>
                    <li class="list-group-item">
                        <img src="/img/company.png" alt="Company">
                        <p>Trufa</p>
                        <h2>Ninhoo</h2>
                        <p>R$4,50</p>
                        <a class="btn btn-primary">Ver sabores</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>